footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.disneyLogo {
    width: 13rem;
    height: 7.5rem;
    @media screen and (min-width: $md_breakpoint) {
        width: 9rem;
        height: 5rem;
    }
    margin: auto;
    margin-bottom: 5rem;
}
.companyFoundedText {
    letter-spacing: 0.29rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    font-style: normal;
}
