$fallback-fonts: helvetica, arial, sans-serif;

//COLORS
$light-grey: rgba(29, 29, 29, 0.4);
$very-light-grey: #dddddd;
$text-colors: rgba(29, 29, 29, 0.7);
//BREAKPOINT
$sm-breakpoint: 520px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
